body{
    background-color: white;
    display: block;
    min-height: 90vh;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.agregarHuespedes{
    margin-left: -47%;
    font-family: 'Times New Roman', Times, serif;
}



.registroHuespedes{
    margin-left: 17.5pc;
    
}
.divhuesped{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: -32%;
    margin-left: 10px;
    align-content: center;

}
.nombres{
    margin-right: 10px;

}

.apellidos{
    margin-right: 10px;
}


.titulo{
    display: inline-block;
    position: relative;
    text-align: center;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1.titulo::after,h1.titulo::before{
    content: '';
    position: absolute;
    width: 400px;
    height: 1px;
    background-color: #A6A6A6;
    top: 0.6em;    
}
h1.titulo::before{
    left: -600px;
}
h1.titulo::after{
    right: -600px;
}
.viaje_fecha h2{
    text-align: left;
    margin-left: 15%;

}
h3{
    text-align: left;
    margin-left: 15%;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
p{
    text-align: left;
    margin-left: 15%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.metodo{
    text-align: left;
    margin-left: 15%;
    margin-bottom: 10px;

}

.descripcion {
    text-align: left;
    margin-left: -5%;
    font-size: 19px;
    max-width: 500px;
    text-align: justify;
}

.pago1{
    margin-top: -28px;
    margin-left: -5%;
    position: relative;
    font-size: 22px;
    margin-right: 202px;
    margin-bottom: -30px;
}
.radio{
    text-align: left;
    padding-left: 500px;
    padding-bottom: 1px;
    font-size: x-large;
}

.pago2{
    text-align: left;
    margin-left: -5%;
    position: relative;
    margin-bottom: -30px;
    font-size: 22px;
    margin-right: 220px
}
.form_pago{
    background-color: white;
    margin: 0% 15%;
    width: 670px;
    height: 140px;
    padding: 4.5em 3em;
    border-radius: 10px;
    border: solid rgb(210, 210, 210);
    /* box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%); */
    text-align: left;
    margin-left: -62pc;
    margin-top: -22pc;
}

.link {
    text-align: left;
    margin-left: -5%;
}

.form-descripcion{
    margin-left: 62%;
    margin-top: -6%;
    margin-bottom: 3%;
    width: 610px;
    height: 663px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
}

.form-img {
    width: 275px;
    height: 180px;
    margin-left: -48%;
    margin-top: 2%;
}
.title1 {
    text-align: justify;
    margin-left: 52%;
    margin-top: -30%;
    max-width: 200px;
    font-size: 30px;
    font-family: 'Arial';

}

.form-info {
    margin-top: 120px;
}

.title2 {
    margin-top: 10px;
    margin-left: 4%;
    font-size: 20px;
    font-family: 'Arial';

}

.subtitle {
    margin-left: 4%;
    font-size: 18px;
    font-family: 'Arial';
    margin-top: 10px;

}

.cantidadX {
    margin-left: 4%;
    font-size: 18px;
    font-family: 'Arial';
}

.cantidadY {
    margin-left: 8%;
    font-size: 18px;
    font-family: 'Arial';
    margin-bottom: 5px;
}

.monto {
    position: relative;
    margin-top: -4%;
    margin-left: 70%;
    font-size: 18px;
    font-family: 'Arial';
}

.total-confirmar {
    margin-left: -480px;
    margin-top: 10px;
}

.btn-pagar {
    position: relative;
    width: 80%;
    height: 50px;
    border: 1px solid;
    background: rgb(176, 37, 174);
    border-radius: 6px;
    font-size: 18px;
    color: #F5F5F5;
    cursor:pointer;
    outline:none;
    font-family: sans-serif;
    padding: 8px;
    margin-left: 14px;
    top: 100px;
    
}