header {
    background-color: beige;
    color: hwb(0 100% 0%);
    padding: 20px;
    clear: both;
    content: '';
    display: table;
}

.navbar {
    width: max-content;
    margin: 10px auto;
}

.logo {
    width: 200px ;
    float: left;
    padding-left: 150px;
    margin: 0 auto;
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 25px 0;
    float: left;
}

.container{

    background-color: black;
    width: 500px;
    margin: 0 auto;

    
}

.tarjeta{
    background-color: beige;
    margin: 0 auto;
    padding: auto;

}

.imgTargeta{
    float: left ;
}

section article{
    margin: 1rem 0;
    border-radius: 0,5rem;
}

section article:hover {

    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}