*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.form-registro{
    background-color: white;
    margin: auto;
    height: 620px;
    width: 45%;
    /*max-width: 400px;*/
    border-radius: 10px;
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 0 5px 10px -5px rgb(0 0  0/ 30%);
    text-align: center;
    
}
.form_titulo{
    font-size: 2rem;
    margin-bottom: .5em;
    border-bottom: 1px solid rgb(210, 210, 210);
}
h3{
    font-weight: 300;
    font-size: x-large;
    margin-bottom: 10px;
    text-align: justify;
    margin-left: 27px;
}
div input{
    width: 100%;
    padding: 10px;
    text-align: left;
    margin-top: 6px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(210, 210, 210);
   
}
input[type="submit"]{
    width: 45%;
    height: 50px;
    border: 1px solid;
    background: rgb(176, 37, 174);
    border-radius: 8px;
    font-size: 18px;
    color: #F5F5F5;
    cursor:pointer;
    outline:none;
    margin-top: 20px;
    font-family: sans-serif;
    text-align: center ;
}
.contenedor{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.EmailRegistro{
    width: 100%;
}
.NombresRegistro{
    width: 100%;
}
.ApellidosRegistro{
    width: 100%;
}
.Identificacion{
    width: 100%;
}
.Direccion{
    width: 100%;
}
.Contraseña{
    width: 100%;
}
.RepContraseña{
    width: 100%;
}