*{
    margin: 0;
    padding: 0%;
    box-sizing: none;
}

.mensajeError{
    color: rgb(82, 0, 0);
    display: block;
    text-align: center;
}

.error{
    color: red;
    display: block;
}
.form-registro{
    background-color: white;
    margin: auto;
    height: 620px;
    width: 25%;
    border-radius: 10px;
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 0 5px 10px -5px rgb(0 0  0/ 30%);
    text-align: center;
    
}
.form_titulo{
    font-size: 2rem;
    margin-bottom: .5em;
    border-bottom: 1px solid rgb(210, 210, 210);
}

.subtitulo {
    text-align: justify;
    margin-left: 40px;
}

h3{
    font-weight: 300;
    font-size: x-large;
    margin-bottom: 10px;
    text-align: justify;
    margin-left: 27px;
}
div input{
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(210, 210, 210);  
}
.btn-Registrarme {
    width: 45%;
    height: 50px;
    border: 1px solid;
    background: rgb(176, 37, 174);
    border-radius: 8px;
    font-size: 18px;
    color: #F5F5F5;
    cursor:pointer;
    outline:none;
    margin-top: 20px;
    font-family: sans-serif;
    text-align: center ;
}
.contenedor{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.FechaNacimiento {
    width: 43%;
}

.Celular {
    width: 43%;
    margin-right: 20px;
}
.Pais{
    width: auto;

}

.Region {
    width: 43%;
}

.Comuna {
    width: 43%;
    margin-right: 20px;
}

.EmailRegistro{
    width: 95%;
}
.NombresRegistro{
    width: 95%;
}
.ApellidosRegistro{
    width: 95%;
}
.Identificacion{
    width: 95%;
}
.Direccion{
    width: 95%;
}
.Contraseña{
    width: 95%;
}
.RepContraseña{
    width: 95%;
}

@media (max-width: 999px) {
    
    .form-registro{
        position: center;
        width: 80%;
        height: 650px;
    }

    .subtitulo {
        text-align: center;
        margin-right: 26px;
        margin-left: 26px;
    }

    .FechaNacimiento {
        width: 39%;
    }
    
    .Usuario {
        width: 100%;
        margin-right: 15px;
    }

    .Pais {
        width: 100%;
        margin-right: 15px;
    }
    .Celular {
        width: 100%;
        margin-right: 15px;
    }
    
    .Region {
        width: 100%;
    }
    
    .Comuna {
        width: 100%;
        margin-right: 15px;
    }
    
    
    .EmailRegistro{
        width: 95%;
    }
    .NombresRegistro{
        width: 95%;
    }
    .ApellidosRegistro{
        width: 95%;
    }
    .Identificacion{
        width: 95%;
    }
    .Direccion{
        width: 95%;
    }
    .Contraseña{
        width: 95%;
    }
    .RepContraseña{
        width: 95%;
    }  
}