{% extends 'plantillaBase.html' %}
{% load static %}

{% block contenido %}
{% if usuarioActual %}
<h1 class="bienvenida"> ¡Que buena elección {{usuarioActual}}!</h1>
{% endif%}
{% block head %}

<link rel="stylesheet" href="{% static 'clientes/css/detalleParaReservar.css' %}"></link>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({
                "title": "Atención",
                "text": "{{m}}",
                "icon": "warning"
            })
        </script>
    {% endfor %}
{% endif %}
<section>         
    {% for c in depto %}     
    <h1 class="title">{{c.10}}, {{c.11}}</h1>
    <div class="galeria">
        {% for c in imagenes %}
        <a href="#img1"><img src= "{% static 'clientes/images/'%}{{ c.0}}.jpg"></a>
        {% endfor %}
    </div>
    <br>
    <br>
    <div class="modal" id="img1">
        <h3>Imagen 1</h3>
        <div class="imagen">
            <a href="#img5">&#60;</a>
            <a href="#img2"><img src="{% static 'clientes/images/1- '%}{{ c.0}}.jpg"></a>
            <a href="#img2">></a>
        </div>
        <a class="cerrar" href="">x</a>
    </div>
    <div class="modal" id="img2">
        <h3>Imagen 2</h3>
        <div class="imagen">
            <a href="#img1">&#60;</a>
            <a href="#img3"><img src="{% static 'clientes/images/2- '%}{{ c.0}}.jpg"></a>
            <a href="#img3">></a>
        </div>
        <a class="cerrar" href="">x</a>
    </div>
    <div class="modal" id="img3">
        <h3>Imagen 3</h3>
        <div class="imagen">
            <a href="#img2">&#60;</a>
            <a href="#img4"><img src="{% static 'clientes/images/3- '%}{{ c.0}}.jpg"></a>
            <a href="#img4">></a>
        </div>
        <a class="cerrar" href="">x</a>
    </div>
    <div class="modal" id="img4">
        <h3>Imagen 4</h3>
        <div class="imagen">
            <a href="#img3">&#60;</a>
            <a href="#img5"><img src="{% static 'clientes/images/4- '%}{{ c.0}}.jpg"></a>
            <a href="#img5">></a>
        </div>
        <a class="cerrar" href="">x</a>
    </div>
    <div class="modal" id="img5">
        <h3>Imagen 5</h3>
        <div class="imagen">
            <a href="#img4">&#60;</a>
            <a href="#img1"><img src="{% static 'clientes/images/5- '%}{{ c.0}}.jpg"></a>
            <a href="#img1">></a>
        </div>
        <a class="cerrar" href="">x</a>
    </div>
    <form  method="POST" class="form-reserva" id="post-form">
        {% csrf_token %}
        <h2 class="total">${{c.5}} CLP Noche</h2>


        <div >
            Llegada
            <input  type="date" min="2022-10-19" max="0000-00-00" name="inicio" id="inicio" required>
            <span></span>
        </div>

        <div class="salida">
            Salida
            <input  type="date" min="2022-10-19" max="0000-00-00" name="fechaSalida" id="fechaSalida" required>
            <span></span>
        </div>
        <h2 id="total"></h2>
        <div class="select">
            <select name="personas" id="Huespedes" >
                <option selected disabled>Huéspedes</option>
                <option value="1" >1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>required
            </select>
            
        </div>
        {% endfor %}
        <h3 class="servicios">Servicios Extras</h3>
        <h5>(opcional)</h5>
        {% for c in servicios %}
        <div class="service">
            <p class="service">{{c.1}}</p>
            <div class="divPadre">
                <input type="number" class="cantidad"  name ="cantidad"  value ="0" min="0" max= "20">

                <input type="checkbox" class="checkbox" hidden="true"  value="{{c.0}}" id="servicio" name="servicio">

            </div>
            
        
        
        
        
        </div>
        
        {% endfor %}
        
        <h2 class="form-total">${{TotalReserva}} CLP TOTAL RESERVA</h2>
        <br>
        <h2 class="form-abono">${{abono}} CLP Abono</h2>
    
        
        {% if IDPR %}
        <input type="submit" value="Consultar" class="btn-reservar">
        <button class="btn-reservar"><a  href="{% url 'confirmarReserva' %}" class="acolor" >Ir a la bolsa</a></button>
        {% else %}
        <input type="submit" value="Consultar disponibilidad" id="submit" class="btn-reservar">
        {% endif %}
        
        

    </form>
  
    

</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script src="{% static 'clientes/js/detalleParaReservar.js' %}"></script>
{% endblock %}
