{% extends 'plantillaBase.html' %}
{% block contenido %}
{% load static %}
{% if usuarioActual %}
<h1 class="bienvenida"> ¡Qué gusto tenerte de vuelta {{usuarioActual}}!</h1>
{% endif %}

    {% block head %}
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'clientes/css/busqueda.css' %}">
    <link rel="stylesheet" href="{% static 'clientes/css/principal.css' %}">

    {% endblock %}

    <section>
        <div class="logo-img">
            <img src="{% static 'clientes/images/TRINDEX.jpg'%}" alt="No se encuentra disponible">
        </div>
        <form class="form-tarjeta" method ='POST'>
            {% csrf_token %}
            
            <h2 class="title">¿Dónde deseas ir?</h2>
            <h3 class="descripcion">Encuentra y reserva departamentos únicos</h3>
            <h3>Seleccione ubicación</h3>
            <div class="select">
                <select name="Regiones" id="cars">
                    {% for c in regiones %}
                    <option value='{{c.1}}'>{{c.0}}</option>
                    {% endfor %}
                </select>
            </div>
            
            <h3>Cantidad de personas</h3>
            <select name="Personas" id="personas">
                <option selected disabled>Cantidad</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <input type="submit" value="Buscar" class="btn-buscar">
            
        </form>
        <body>
        {% if resultados %}
        <h1 class="tituloResultado">RESULTADOS DE BÚSQUEDA</h1>
        {% endif %}
        {% for c in resultados %}
        
        <div class="form-busqueda">
            <img  src="{% static 'clientes/images/1- '%}{{ c.0}}.jpg" class="img-busqueda">
            <h2>{{c.9}},{{c.10}}</h2>
            <h4>${{c.5}} CLP Noche</h4>
            <a name = 'huespedes'>{{c.3}} huespedes</a>
            <a name = 'habitación'>{{c.3}} habitación</a>
            <a name = 'huespedes'>{{c.4}} huespedes</a>
            <p class="parrafo">Los servicios extra se deben añadir al momento de realizar la reserva</p>
            {% if usuarioActual %}
            <button class="btn-busqueda"><a href="{% url 'detalleParaReservar' c.0 %}" >Reservar</a></button>
            {% else %}

            <button class="btn-busqueda"><a href="IniciarSesion">Reservar</a></button>
            {% endif %} 
        </div>
        {% endfor %}
        
        <div>
            <h1 class="tituloDescripcion">LO QUE HACEMOS</h1>
        </div>
        
        <div class="informacion">
            <div class="box1">
                <img src="{% static 'clientes/images/CASA.jpg'%}" class="img1">
                <p>Realizamos las publicaciones, agendamos las reservas y nos encargamos
                    de todo tipo de trámites necesarios el termino de contrato.
                </p>
            </div>
            <div class="box2">
                <img src="{% static 'clientes/images/ESTRELLA.jpg'%}" class="img2">
                <p>Servicio extra y planificaión al departamento reservado si se desea.</p>
            </div>
            <div class="box3">
                <img src="{% static 'clientes/images/DOCUMENTO.jpg'%}" class="img3">
                <p>Elaboramos los contratos de arriendo, de manera personalizada
                    adecuandonos a las solicitudes de cada persona.
                </p>
            </div>
        </div>
        
        
        
    </section> 
    <br>    
    <br> 
    <br> 
{% endblock %}