{% extends 'plantillaBase.html' %}
{% block contenido %}


<form action="" class="Tarjeta" method ='POST'>
    {% csrf_token %}
    <h3>Seleccione una ubicación</h3>
    <select name="Regiones" id="regiones">
        {% for c in regiones %}
        <option value='{{c.1}}'>{{c.0}}</option>
        {% endfor %}
    </select>
    <br>
    <h3>Cantidad de personas</h3>
    <select name="Personas" id="personas">
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>3</option>
        <option value='4'>4</option>
    </select>
    <input type="submit" name="buscar">
</form>
<h1> Bienvenid@ {{usuarioActual}}</h1>
{% for c in resultados %}
    <h1 href =''>{{c.11}},{{c.12}}</h1>
    <a>{{c.3}} huespedes</a>
    <a>{{c.3}} habitación</a>
    <a>{{c.4}} huespedes</a>
    <h1>${{c.5}} CLP por noche</h1>
    <input type="submit">
{% endfor %}
{% endblock %}