{% extends 'plantillaBase.html' %}
{% load static %}
{% block head %}
    <link rel='stylesheet' href="{% static 'clientes/css/detallereserva.css' %}">
{% endblock %}

{%  block contenido %}

<h1 class="titulo">DETALLE DE RESERVA</h1>
    {% for c in reservas %}
    
        <div class="contenedor">
            <div class="contenedor-imagenes">
            <img src="{% static 'clientes/images/0.jpg'%}" class="principal" width="700" height="450">
            </div>
            <form method="POST">
                {% csrf_token %}
            <div class="informacion">
                
                
                <h2 class="subtitulo">{{c.9}}, {{c.10}}</h2>
                <p>{{c.6}} personas | {{c.6}} habitaciones| {{c.7}}  baños</p>
                <h3 class="subtitulito">Informacion de reserva</h3>
                {% if servicios %}
                <h3>Servicios extra contratados:</h3>
                {% endif %}
                {% for c in servicios %}
                
                <p>{{c.0}} x {{c.2}}</p>
                <h3>${{c.3}}</h3>
                {% endfor %}
                <h3>Valor del total reserva: ${{c.12}}</h3>
                <h3>Monto pagado:                       ${{c.14}}</h3>
                <h3>Fecha de transacción:               {{c.13}}</h3>
                <h3>Llegada:                            {{c.1}}</h3>
                <h3>Salida:                             {{c.2}}</h3>
                <br>
                <br>
                <br>
                <br>
                <h2>Estado de la reserva:{{c.15}}</h1>
                <div class="boton">
                
                {% if c.15 != 'Cancelado' %}
                <input type="submit" value="Cancelar reserva" class="btn-Cancelar">
                
                {% endif %}
                </div>
            </div>
            </form>
            
        </div>
    {% endfor %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                title: '¿Estas segur@?',
                text: "Esta acción no se puede revertir!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, Cancelar la reserva!'
                }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/Perfil"
                    Swal.fire(
                    'Listo!',
                    'Tu reserva fue cancelada exitosamente.',
                    'success'
                    )
                }
})
                
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}