{% extends 'plantillaBase.html' %}
{% load static %}
{% block head %}
    <link rel='stylesheet' href="{% static 'clientes/css/detallereserva.css' %}">
{% endblock %}

{%  block contenido %}

<h1 class="titulo">DETALLE DE RESERVA</h1>
    {% for c in reserva %}
    
        <div class="contenedor">
            <div class="contenedor-imagenes">
            <img src="img/vina.jpg" class="principal" width="700" height="450">
            <img src="img/vina2.jpg" class="secundaria" width="230" height="230">
            <img src="img/vina3.jpg" class="secundaria" width="230" height="230">
            <img src="img/vina4.jpg" class="secundaria" width="230" height="230">
            </div>
            <form method="POST">
                {% csrf_token %}
            <div class="informacion">
                <h2>Estado de la reserva:{{c.15}}</h1>
                <h2 class="subtitulo">{{c.9}}, {{c.10}}</h2>
                <p>{{c.8}} personas | {{c.8}} habitaciones| {{c.7}}  baños</p>
                <h3 class="subtitulito">Informacion de reserva</h3>
                <h3>Valor del total reserva: ${{c.14}}</h3>
                <h3>Monto pagado:                       ${{c.14}}</h3>
                <h3>Fecha de transacción:               {{c.13}}</h3>
                <h3>Llegada:                            {{c.1}}</h3>
                <h3>Salida:                             {{c.2}}</h3>
                <br>
                <br>
                <br>
                <br>
                <div class="boton">
                
                {% if c.17 != 'Cancelado' %}
                <input type="submit" value="Cancelar reserva" class="btn-Cancelar">
                {% endif %}
                </div>
            </div>
            </form>
            
        </div>
    {% endfor %}
{% endblock %}