{% extends 'plantillaBase.html' %}
{% load static %}
    {% block head %}
    <title>Solicitar Reserva</title>
    <link rel="stylesheet" href={% static "clientes/css/SolicitarReserva.css" %}>
    {% endblock %}

    {% block contenido %}
    {% for c in datosPosibleReserva %}
    <form method="POST">
        {% csrf_token %}
        <div>
            <h1 class="titulo">SOLICITAR RESERVA</h1>
            <div class="viaje_fecha">
            <h2>Tu viaje</h2>
            <h3>Fechas</h3>
            <p>{{c.1}} - {{c.2}}</p>
            <h3>Huéspedes</h3>
            <p>1 Huésped</p>
            </div>
            
            <div>
                <h1 class="metodo">Elige como quieres pagar</h1>
            </div>
            <div class="form_pago" >
                <div>
                    <h2 class="pago1">Pago único</h2>
                    <input name="total" type="radio" value="{{c.12}}">${{c.12}}  CLP
                    <p>Paga el total ahora y listo.</p>
                    <h2 class="pago2">Paga una parte ahora y otra más adelante</h2>
                    <input name='total'type="radio" value="{{abono}}">${{abono}} CLP>
                    <p>Paga $48.790 ahora y el resto ($439.110) se te cobrará automaticamente a la misma forma de pago
                        el 5 de abril de 2023. Sin tarifas adicionales.
                    </p>
                    <p class="link"><a href="">Más información</a></p>
                    <input type="submit" value="Pagar">
                </div>
            </div>
        </div>
    </form>
    {% endfor %}
    {% endblock %}
