{% extends 'plantillaBase.html' %}
    {% load static %}
    {% block head %}
    <title>RegistroUsuario</title>
    <link rel="stylesheet" href="{% static 'sinRegistro/css/RegistroUsuario.css' %}">
    <script src="{% static 'sinRegistro/js/validacionesRegistro.js' %}"></script>
    <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% endblock %}

    {% block contenido %}
    
    <form method="POST" class="form-registro" id="post-form">
        {% csrf_token %}
        <h2 class="form_titulo">Registrate</h2>
        <br>
        <h3 class="subtitulo">Te damos la bienvenida a Turismo Real</h3>
        
        <div class="contenedor">
            <div class="NombresRegistro"><input type="text" name="nombres" id="nombres" placeholder="Nombres" required ></div>
            <div class="ApellidosRegistro"><input type="text" name="apellidos" id="apellidos" placeholder="Apellidos" required ></div>
            <div class="Usuario"><input type="text" name="usuario" id="usuario" placeholder="Usuario" required ></div>
            <div class="EmailRegistro"><input type="email" name="email" id="email" placeholder="Email" required ></div>
            <div class="Contraseña"><input type="password" name="contraseña" id="contraseña" placeholder="Contraseña" required></div>
            <div class="RepContraseña"><input type="password" name="repcontraseña" id="repcontraseña" placeholder="Repetir Constraseña" required></div>
            <div class="Identificacion"><input type="text" name="identificacion" id="identificacion" placeholder="RUT o pasaporte" required ></div>
            <div class="Celular"><input type="text" name="celular" id="celular" placeholder="Celular" required></div>
            <div class="Pais"><input type="text" name="pais" id="pais" placeholder="Pais" required></div>
        </div> 
        <h3 id="a"></h3>
        <input type="submit" value="Registrarme"  class="btn-Registrarme">
    </form>
    <script type="text/javascript">
        $(document).on('submit', '#post-form', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/Registrarse',
                data: {
                    nombres: $('#nombres').val(),
                    apellidos: $('#apellidos').val(),
                    usuario: $('#usuario').val(),
                    email: $('#email').val(),
                    contraseña: $('#contraseña').val(),
                    repcontraseña: $('#repcontraseña').val(),
                    identificacion: $('#identificacion').val(),
                    celular: $('#celular').val(),
                    pais: $('#pais').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (data) {
                    $("#a").html(data);
                }
                
            })
        })

    </script>
    <br>
    {% endblock %}