{% extends 'plantillaBase.html' %}
    {% load static %}
    {% block head %}
    <title>RegistroUsuario</title>
    <link rel="stylesheet" href="{% static 'sinRegistro/css/RegistroUsuario.css' %}">
    
    {% endblock %}

    {% block contenido %}

    <form id="post-form" method="POST" class="form-registro" >
        {% csrf_token %}
        <h2 class="form_titulo">Registrate</h2>
        <br>
        <h3 class="subtitulo">Te damos la bienvenida a Turismo Real</h3>
        <h3 class="mensajeError">{{mensaje}}</h3>
        
        <div class="contenedor">
            <div class="NombresRegistro">
                <input type="text" name="nombres" id="nombres" placeholder="Nombres" required >
                <span ></span>
            </div>
            <div class="ApellidosRegistro">
                <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos" required >
                <span ></span>
            </div>
            <div class="Usuario">
                <input type="text" name="usuario" id="usuario" placeholder="Usuario" required >
                <span ></span>
            </div>
            <div class="EmailRegistro">
                <input type="email" name="email" id="email" placeholder="Email" required >
                <span></span>
            </div>
            <div class="Contraseña">
                <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña" required>
                <span></span>
            </div>
            <div class="RepContraseña">
                <input type="password" name="repcontraseña" id="repcontraseña" placeholder="Repetir Constraseña" required>
                <span></span>
            </div>
            <div class="Identificacion">
                <input type="text" name="identificacion" id="identificacion" placeholder="RUT o pasaporte" required >
                <span></span>
            </div>
            <div class="Celular">
                <input type="text" name="celular" id="celular" placeholder="Celular" required>
                <span></span>
            </div>
            <div class="Pais">
                <input type="text" name="pais" id="pais" placeholder="Pais" required>
                <span></span>
            </div>
        </div> 
        <h3 id="a"></h3>
        <input type="submit" value="Registrarme"  class="btn-Registrarme">
        
    </form>
    
    <script src="{% static 'sinRegistro/js/validacionesRegistro.js' %}"></script>
    <br>
    {% endblock %}